{% extends 'base.html' %}

{% load static %} <!-- This line is needed to use the static tag -->

{% block content %}

<h2>Privacy Policy, Terms & Conditions</h2>

The Malaysian Personal Data Protection Act 2010 ("PDPA") controls the collection, use and storage of personal information (“Personal Data”). houzscore.com is committed to ensuring that your privacy is protected. This Privacy Policy sets out how we use and protect Personal Data provided to us when you use any of our websites hosted at the domains listed below, hereafter referred collectively as “Website”:
houzscore.com
The provisions of this Privacy Policy will form part of the terms and conditions on the Website. If any inconsistency is found in relation to use of Personal Data, the provisions of this Privacy Policy shall prevail.
Personal Data provided to us in connection with the use of this Website, in the course of your dealing with houzscore.com and/or in using the services on the Website will be retained by us for the period necessary to fulfil the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.
houzscore.com may revise this Privacy Policy from time to time at our discretion and/or where required by law. We will post notice of material changes on our website. Please revisit this Privacy Policy from time to time to learn of any such changes. This Privacy Policy is effective from 1st June 2016.
We may collect the following Personal Data which includes but is not limited to:
name, date of birth, NRIC number/passport number (for foreigners) and gender information;
contact information including address, email address and telephone number;
demographic and geographical information such as location of property for sale, purchase and/or rental to enable provision of property concierge and advertising services;
transactional information of your activities on our website;
information in relation to your interaction with our Website, services, content and advertising;
other information required to authenticate yourself;
other information required to enable us to provide property concierge and advertising services to you; and
other information that may be required by law from time to time.

houzscore.com requires this Personal Data to understand your needs and provide you with a better service. Your Personal Data may be used or processed by usor on our behalf for the following purposes:
carrying out instructions, providing products and/or services (whether by houzscore.com or a selected third party) and responding to enquiries by you or made on your behalf;
provision of reference and status enquiries;
verifying and assisting with identification of customers and/users;
determining the appropriate level and type of services to be provided to you;
operating administrative and internal controls including but not limited determining amounts owed to or by you, payment to or collection of such amounts from you or a person authorised by you, and processing of financial or payment transactions;
internal record keeping;
using the data to improve our products and services;
sending important notices such as communications about changes to our policies, terms and conditions and services;
coordinating and liaising with third parties to inter alia assess, evaluate, finalise and/or execute the contractual arrangements between you and third parties;
coordinating and liaising with third parties to enable property advertising services to be provided and carried out for purposes of inter alia prompting your property;
sending promotional emails about new properties, special packages, offers or other information which we think you may find interesting using the email address which you have provided;
forwarding publicity materials or other information which we think you may find interesting from houzscore.com and/or third parties;
contacting you by email, phone or mail for market research purposes. We may use the information to customise the Website according to your interests;
processing, researching, designing, launching, promoting and marketing about new products, properties, services, special offers, promotional activities, contests or other information of houzscore.com and/or third parties and monitoring the provision, operation and use of such products or services;
meeting any legal, governmental or regulatory requirements in Malaysia or any other applicable jurisdiction including disclosure or notification requirements;and
any other incidental and associated purposes in order for houzscore.com to carry out its business and/or relating to any of the above.
houzscore.com will keep confidential Personal Data held relating to you but your Personal Data may be provided to:-
any person under a duty of confidentiality to houzscore.com or to companies affiliated to houzscore.com;
any relevant agent, contractor, third party service provider or investor who provides administrative, telecommunications, financial, legal, computer, payment, securities clearing, management, audit, insurance, professional or other services to houzscore.com;
any nominee, trustee, co-trustee, centralised securities depository or registrar, custodian, insurance company, social media company, advertising company, estate agent, lawyer, tax advisor, accountant, auditor, other professional advisor or other person who is involved with the provision of services or products by houzscore.com to you;
any third party we liaise and cooperate with to enable property advertising services to be provided and carried out for purposes of inter alia prompting your property;
any banking, financial or other institution for financial or payment transactions;
any person or corporation to whom houzscore.com transfers or proposes to transfer its interests and/or obligations in respect of any product or service provided to you;
any other person reasonably requiring the same in order for houzscore.com to provide its services and to carry out its business; or
any person by whom houzscore.com is required by applicable legal, governmental or regulatory requirements to make disclosure.
houzscore.com may disclose Personal Data to any or all of the parties stated in paragraph above notwithstanding the recipient’s place of business is outside Malaysia, or that such information following disclosure will be collected, held, processed or used by such recipient in whole or in part outside Malaysia.
We work with reputable third party vendors to maintain appropriate administrative, physical and technical safeguards to protect the security, confidentiality and integrity of Personal Data submitted to us. We engage third party IT vendors to protect key information and constantly monitor our application, systems, and processes to meet the growing demands and challenges of security.Our IT vendors do not collect personal information on our behalf and do not determine how we use such Personal Data. Our contracts with our IT vendors generally prohibit our vendors from accessing customer data except under limited circumstances.
This Website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any Personal Data which you provide whilst visiting such sites and such sites are not governed by this Privacy Policy. You should exercise caution and look at the privacy statement applicable to the website in question.
houzscore.com uses traffic log cookies to identify which pages are being used. Cookies allow web applications to respond to you as an individual.This helps us analyse data about web page traffic and improve the Website in order to tailor it to customer needs. Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. We only use this information for statistical analysis purposes and then the data is removed from the system. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. We treat information collected by cookies and other technologies as non-personal information.You can choose to accept or decline cookies.
You may request access to any Personal Data we hold about you at any time by emailing us at info@houzscore.com. Where we hold information that you are entitled to access, we will provide you with suitable means of accessing it. A reasonable fee may be charged for processing each data access request.
If you have previously agreed to us using your data for direct marketing purposes, you may change your mind at any time by contacting us at the above address. No fee will be charged.
​
To help houzscore.com to provide a better service to you, please ensure that your personal data such as contact details including your addresses, your telephone numbers (including your mobile telephone number), email address and other details registered with us are up to date.
If you have any questions or concerns about this Privacy Policy, please contact us at the above email.

In the event that there are inconsistencies between the English and Malay versions of this policy, the English version shall prevail.
​
Reports
​
The contents of report are provided on an "As is", "With all faults" and "As available" basis. houzscore.com and our directors, officers, agents, joint ventures and employees disclaims all warranties (express, implied or statutory) including but not limited to any warranties on the accuracy, merchantability, suitability or fitness for a particular purpose, or non-infringement of intellectual property and completeness, accuracy, reliability or validity of the properties, Services,
information, Content and materials presented in this report. houzscore.com does not promise that the content of this report, descriptions, information, material or feature of the report will be error-free or uninterrupted, or that any defects will be corrected, or that your use of the report will provide specific results. houzscore.com attempts to be as accurate as possible. However, houzscore.com does not control and is not liable to or responsible for the validity, accuracy,suitability, quality, safety, correctness, reliability, stability, description, lawfulness or availability of the properties listed in tNowcast reports.

houzscore.com Reports contain automated forecast prices that are current at the date of the publication only. They are computer generated and are not a professional appraisal of the subject property and should not be relied upon as such. The accuracy of the methodology used to develop the forecast prices and the property price indices, the existence of the subject property, and the accuracy of the forecast and all rule sets provided are estimates based on available data and are
not guaranteed or warranted. houzscore.com excludes all liability for any loss or damage arising in connection with the forecast generated.
houzscore.com is not a licensed valuer and have not made any representation that any part of this report constitute or qualify to substitute a formal valuation of the project. houzscore.com and its employees do not make any representation or warranties of any kind concerning any Services
and/or properties offered. Clients agree that houzscore.com shall not be liable or responsible for any damages, claims, liabilities, errors, inaccuracies, costs, harms, inconveniences, business disruptions, delays in delivery of the Services or expenditures of any kind that may arise as a
result of or in connection with any such risks.

houzscore.com Report is not a valuation report. Forecast prices and property price indices presented are auto-generated and do not substitute the services offered by licensed valuers.
​
This document was last updated on 1st January 2024.

{% endblock %}
